<h1>About</h1>
<p>In between coding and building a portfolio of my work in the Web Development feild, I walk dogs in Manhattan. I love the pups I've met over the year and consequently have taken thousands of photos for the clients/parents/owners. Needless to say, there have been some pretty unique snaps.</p>

