<div class="row">
	<div class="col-12">
		<div class="nypp-banner">
			<%= image_tag("about-banner.png") %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" id="about-header">
		<h1>About</h1>
		<h3> Ever wondered what those pups are thinking when you see them wandering the parks, or settling in to do their business (right infront of you) as you're about to cross the road?</h3>
		<h2> Well we interviewed them, so you now know!</h2>
	</div>
</div>
<div class="row">
	<div class="col-6" id="about-info-left">
		<h1>The photographer</h1>
		<p>In between coding and building a portfolio of my work in the Web Development feild, I walk dogs in Manhattan. I love the pups I've met over the year and consequently have taken thousands of photos for the clients/parents/owners. Needless to say, there have been some pretty unique snaps.</p>
	</div>
	<div class="col-6" id="about-info-right">
		<h1>The New York Pup Pals</h1>
		<p>Take a look at the world inside a dogs head and get to see what they're thinking about. A purely comedic look at dogs thoughts, based on the Humans Of New York caption like photographs with a unique spin.</p>
	</div>
</div>
<div class="row">
	<div class="col-12" id="about-work">
		<h1>Check out some of my work</h1>
		<a href="css/images/resume.pdf"><i class="fa fa-file-pdf-o"></i></a>
		<p>click for resume</p>
		<a href="https://github.com/brokenleadportraits"><i class="fa fa-github-alt"></i></a>
		<p>click for github</p>
		<a href="https://www.linkedin.com/in/alex-thetford"><i class="fa fa-linkedin"></i></a>
		<p>click for linkedin</p>
	</div>
</div>
