
<div class="row">
	<div class="col-12">
		<div class="nypp-banner">
			<%= image_tag("banner1.png") %>
			<h2>Getting inside the minds of some of the greatest New York Pup Pals in the world!</h2>
		</div>
	</div>
</div>
<div class="row" id="instagram-div">
	<div class="col-12">
		<h1>Seen on Instagram!</h1> 
		<%= image_tag("insta1.jpg") %>
	</div>
</div>
<div class="row" id="index-images">
	<div class="col-6">
		<%= image_tag("timber4.JPG") %>
		<h2>"I've been waiting all winter for this!" - Timber</h2>
	</div>
	<div class="col-6">
		<%= image_tag("elvis4.JPG") %>
		<h2>"It's my mid-week workout." - Elvis</h2>
	</div>
</div>

