<div class="index-header">
	<h1>New York Pup Pals</h1>
	<h2>Ever wondered what those New York City dogs are thinking when you see them roaming the streets, wandering the parks or settling in to do their business right infront of you as you're about to cross the road?</h2>
	<p> Well we interviewed them, so you now know!</p>
</div>
<div class="index-image">
	<div class="row">
		<div class="col-2">
			<h1>&#128062;</h1>
		<p>Sign in to add photos of your own pup!</p>
		</div>
		<div class="col-8" id="index-image-col">
			<%= image_tag("nypp-index2.jpg") %>
		</div>
		<div class="col-2">
			<h1>&#128062;</h1>
		<p>Like some photos of the New York Pup Pals? Rate and comment!</p>
		</div>
	</div>
</div>
