<h1>New York Pup Pals</h1>
<h2>Ever wondered what those New York City dogs are thinking when you see them roaming the streets, wandering the parks or settling in to do their business right infront of you as you're about to cross the road?</h2>
<p> Well we interviewed them, so you now know!</p>
