<%= link_to photo do %>
	<div class="col-3 col-m-4 col-xs-4">
		<div class="photo-div">
		  <%= image_tag(photo.image_url) %>
		</div>
			<% if signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_photo_path(photo) %>
				<%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
	</div>
<% end %>