/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
	float: left;
  width: 100%;
}

@media only screen and (min-width: 600px) {
    /* tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 1130px) {
    /* desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*@media only screen and (max-width: 375px) {

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}
*/



body {
	background-color: #f2f2f2
}
@media only screen and (max-width: 375px) {
	body {
		margin: 0 auto;
	}
}


/********PAGE BODY STYLES TO ACHEIVE A CENTERED PAGE ON DESKTOP*******/
.page-body {
	border-style: groove;
	width: 80%;
	margin: 0 auto;
	background-color: white;
		box-shadow: 0 0 50px rgba(0,0,0,0.4); 
}
@media only screen and (max-width: 375px) {
	.page-body {
		width: 100%;
		padding: 0;
	}
}


/*********NEW YORK PUP PALS LOGO HEADER*********/
.index-header {
	border-bottom: 1px solid grey;
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
}
@media only screen and (max-width: 892px) {
	.index-header img {
		height: auto;
		width: 100%;
	}
}



/************NAV Styles for all devices includes jQuery ****************/
nav {
	height: auto;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid grey;

	ul {
		list-style: none;
		padding: 1px;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 6px 20px;
		padding: 5px;
	}
	a {
		text-decoration: none;
		font-family: 'Carter One', cursive;
		font-size: 1.2em;
		letter-spacing: 1px;
	}	
}
@media only screen and (max-width: 892px) {
	nav {
		padding: 25px 0px 25px 0px;
	}
	nav ul {
		padding: 0px;
		margin: 0px;
	}
	nav li {
		padding: 4px;
		margin: 0 auto;
	}
}
/*jQuery kicks in for fixed position Nav on scroll*/
.fixedPos{
    position: fixed;
    left: 0;
    right: 0;
	width: 76.3%;
	margin: 0 auto;
    top: 0;
    background-color: white;
    border-bottom: 1px solid grey;
}
@media only screen and (max-width: 375px) {
	.fixedPos {
		width: 100%;
	}
}


/***********BANNER STYLES***********/
.nypp-banner {

	img {
		width: 100%;
		height: auto;
	}
	h2{
		font-family: 'Lustria', serif;
		padding: 40px 4px 20px 4px;
		text-align: center;
		margin-top: 0px;
	}
}


/*INSTAGRAM DIV STYLES*/
#instagram-div {
	height: auto;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;

	h1 {
		font-family: 'Pacifico', cursive;
	}

	img {
		margin: 0 auto;
		border-radius: 25px;
	}
}



/****INDEX IMAGE STYLES****/
#index-images {
	height: auto;
	width: 100%;
	text-align: center;

	img {
		width: 100%;
		height: 700px;
		padding: 20px;
	}

	h2 {
		font-family: 'Lustria', serif;
	}
}
@media only screen and (max-width: 375px) {
	#index-images img {
		height: auto;
	}
}


/*INDEX SLIDESHOW STYLES*/
.slideshow-header {
	text-align: center;
	font-family: 'Pacifico', cursive;
	margin-top: 40px;
}
#slideshow { 
  margin: 40px auto; 
  position: relative; 
  width: 240px; 
  height: 240px; 
  padding: 10px; 
  box-shadow: 0 0 50px rgba(0,0,0,0.4); 
}

#slideshow img {
	margin: 0 auto; 
	width: 240px; 
  height: 240px;
}

#slideshow > div { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  right: 10px; 
  bottom: 10px; 
}




/*********FOOTER STYLES**********/
footer {
	padding: 20px;
	border-top: 1px solid grey;
	box-shadow: 20px 20px 20px rgba(0,0,0,0.4); 
}



 /*PHOTO PAGE STYLES*/

.photos-header {
	text-align: center;
	padding: 2px;
	margin-top: 40px;
	h1 {
		font-family: 'Lustria', serif;
	}

	 h2 {
	 	font-family: 'Oranienbaum', serif;
	}
}


.photo-div {
	display: block;
	height: 370px;
	width: 100%;
	padding: 10px;

	img {
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 375px) {
	.photo-div {
		height: auto;
		padding: 10px;
	}
}

/*ABOUT STYLES*/

#about-header {
	text-align: center;

	h1 {
		font-family: 'Oranienbaum', serif;
		margin-bottom: 20px 20px;
		padding: 2px 2px;
	}

	h2 {
		font-family: 'Pacifico', cursive;
		padding: 20px;

	}

	h3 {
		font-family: 'Lustria', serif;
		padding: 20px;

	}
}

#about-info-left {
	text-align: center;
	
	h1 {
		font-family: 'Oranienbaum', serif;
	}

	p {
		font-family: 'Lustria', serif;
	}
}

#about-info-right {
	text-align: center;
	
	h1 {
		font-family: 'Oranienbaum', serif;
	}

	p {
		font-family: 'Lustria', serif;
	}
}

#about-work {
	font-family: 'Oranienbaum', serif;
	text-align: center;

	.fa {
		font-size:36px;
		color: #668cff;
	}
	.fa:hover {
		color: black;
	}
}
