/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

body {
	background-color: #f2f2f2
}

nav {

	ul {
		list-style: none;
		padding: 10px;
		text-align: center;
	}

	li {
		display: inline-block;
		margin: 6px;
		padding: 5px;
	}
	
}

.index-header {
	text-align: center;
		h1 {
			font-family: 'Bangers', cursive;
			font-size: 4em;
		}

		h2 {
			font-family: 'Carter One', cursive;
		}

		p {
			font-family: 'Lustria', serif;
		}
}